@import "variables/variables";
@import "layout/header";
@import "layout/contenido";
@import "layout/footer";
@import "layout/animaciones";

* {
  margin: 0;
  padding: 0;
  html {
    font-size: 95%;
    font-family: helvetica;
  }
  body {
    background-color: $color-principal;
  }
}
