@mixin parrafos {
  margin: auto;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  text-align: left;
}
@mixin parrafo2 {
  margin: auto;
  display: flex;
  text-align: left;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}
@mixin mision {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  font-size: 15px;
}

@mixin titulos($size, $alineacion, $padding) {
  font-size: $size;
  text-align: $alineacion;
  padding-left: $padding;
}
