$color-header: #3f72af;
$color-footer: #3f72af;
$color-bordes: #30475e;
$color-principal: #f6f5f5;
$color-secciones: #71c9ce;
$color-titulos: #112d4e;
$color-titcard: #112d4e;
$color-shadow: #8d8daa;
$color-links: #125d98;
$color-linksclick: #23374d;
$color-formu: #1f53c5;
