.imagen, .mision h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: auto; }

.mision h4 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  text-align: left; }

.cele p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto; }

.contbanco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem; }

.contbanco .banco {
  display: inline-flex;
  justify-items: center; }

header {
  background-color: #3f72af;
  font-size: large;
  padding: 10px;
  border-radius: 5px 3px 20px 10px;
  -webkit-border-radius: 5px 3px 20px 10px;
  -moz-border-radius: 5px 3px 20px 10px;
  -ms-border-radius: 5px 3px 20px 10px;
  -o-border-radius: 5px 3px 20px 10px;
  border: 2px #30475e solid;
  position: sticky;
  top: 0; }
  header h1 {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold; }
  header nav li {
    display: flex; }
    header nav li a {
      display: flex; }
      header nav li a:hover {
        cursor: pointer;
        transform: translateY(-3px);
        transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
        -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
        -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
        -ms-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
        -o-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
        font-weight: bold; }

/* css Index */
.angulo {
  padding: 0.5rem;
  color: #112d4e;
  font-size: 3.5rem;
  font-weight: bold; }

.redondel {
  margin: auto;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  text-align: left; }
  .redondel a {
    color: #125d98;
    text-decoration: none; }
  .redondel h2 {
    color: #112d4e;
    font-weight: bold; }

.redondel2 {
  margin: auto;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  text-align: left; }
  .redondel2 a {
    color: #125d98;
    text-decoration: none; }

.imagen {
  padding: 1rem;
  max-width: 40rem; }

img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.mision {
  background-color: #71c9ce;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border: 2px #30475e solid;
  margin: 2em; }
  .mision h3 {
    font-size: 30px;
    text-align: center;
    padding-left: none;
    font-weight: bold;
    text-decoration: underline; }
  .mision h4 {
    font-size: 25px;
    text-align: left;
    padding-left: 1rem;
    text-decoration: underline;
    font-weight: bold; }
  .mision p {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    font-size: 15px; }

/* ccs Banca */
.redondelBa,
.redondelBa2 {
  margin: auto;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  text-align: left; }
  .redondelBa h3,
  .redondelBa2 h3 {
    color: #112d4e;
    font-weight: bolder; }
  .redondelBa a,
  .redondelBa2 a {
    text-decoration: none;
    color: #125d98; }

/* CSS solo para academy */
.acade .tituloAcademy {
  font-size: 40px;
  text-align: center;
  padding-left: none;
  color: #112d4e;
  font-weight: bold;
  display: fex;
  margin: 1rem; }

.acade p {
  padding: 1rem;
  font-size: 1rem; }

/* cards academy*/
.card {
  display: flex;
  width: 20rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  box-shadow: 5px 3px 3px #8d8daa; }
  .card h5 {
    margin: 1px;
    padding: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #112d4e; }
  .card p {
    padding: 1px;
    justify-content: center; }
  .card a {
    text-decoration: none;
    color: #125d98; }

/* cards busca tu banco*/
.cele .titulobusca {
  font-size: 45px;
  text-align: center;
  padding-left: none;
  color: #112d4e;
  font-weight: bold;
  display: fex;
  margin: 1rem; }

.cele p {
  margin: auto;
  display: flex;
  text-align: left;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  font-size: 1rem; }

.contbanco .banco {
  background: #dbe2ef;
  background: linear-gradient(45deg, #dbe2ef 25%, #f9f7f7 59%);
  max-width: 20rem;
  max-height: 70rem;
  object-fit: contain;
  box-shadow: 5px 3px 3px #8d8daa; }

.contbanco img {
  width: 100%;
  height: 20rem;
  object-fit: contain; }

.contbanco ul {
  margin: 1px;
  padding: 1px;
  list-style: none; }

.contbanco li {
  margin: 1px;
  padding: 1px;
  list-style: none; }

.contbanco summary {
  margin: 1px;
  padding: 1px;
  font-size: 1rem;
  font-weight: bold;
  color: #112d4e; }

.contbanco p {
  padding: 1px; }

.contbanco a {
  text-decoration: none;
  color: #125d98; }

/* Contacto*/
.formimagen {
  justify-content: right;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  text-align: right;
  flex-direction: column;
  max-width: 25rem; }

.formularioTitulo {
  color: #112d4e;
  margin-top: 10px;
  margin-left: 10px; }

.formulario {
  display: flex;
  margin: 1rem;
  align-content: center; }

footer {
  display: flexbox;
  flex-direction: row;
  background-color: #3f72af;
  padding: 10px;
  border-radius: 5px 3px 20px 10px;
  -webkit-border-radius: 5px 3px 20px 10px;
  -moz-border-radius: 5px 3px 20px 10px;
  -ms-border-radius: 5px 3px 20px 10px;
  -o-border-radius: 5px 3px 20px 10px;
  border: 2px solid;
  border-color: #30475e; }
  footer h3 {
    font-size: large;
    font-weight: bold; }
  footer .logofooter {
    display: flex;
    max-width: 4rem;
    max-width: 4rem; }
  footer .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #8d8daa;
    margin-right: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s; }
    footer .social-links:hover {
      color: #ffffff;
      border-color: #ffffff; }

/* Animaciones */
.boton {
  height: 40px;
  border-radius: 2px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to right top, #000, #3ab0ff);
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px; }

.boton1 {
  height: 40px;
  border-radius: 2px;
  border: none;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translateY(3px); }

.boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }

.boton:active {
  transform: translateY(3px); }

.card:hover {
  box-shadow: 10px 10px 10px #8d8daa;
  transform: translateY(-1px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px); }

.card a:hover {
  cursor: pointer;
  color: #23374d;
  font-weight: bold; }

.formu {
  border-radius: 4px;
  border: 1px solid #1f53c5; }

@keyframes logofooter {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.logofooter {
  animation-name: logofooter;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

@media (min-device-width: 300px) and (max-device-width: 480px) {
  html {
    font-size: 75.5%; }
  .imagen {
    padding: 0.5rem;
    object-fit: scale-down; }
  .mision {
    padding: 0.5rem;
    margin: 1em; }
  .social {
    object-fit: scale-down;
    margin: auto;
    margin-left: 1.5rem; }
  /* arreglos banca digital */
  /* ccs Banca */
  .redondelBa,
  .redondelBa2 {
    padding: 0.5rem; }
  /* arreglos busca tu banco */
  .card {
    width: 20rem;
    margin-left: 6rem; }
  .formimagen {
    display: none; }
  .formularioTitulo {
    align-items: center;
    justify-content: center; }
  .formulario {
    margin-left: 3rem;
    margin-right: 10rem;
    justify-content: center; } }

@media only screen and (min-device-width: 481px) and (max-device-width: 900px) {
  html {
    font-size: 80%; }
  .imagen {
    padding: 1rem;
    object-fit: scale-down; }
  .mision {
    padding: 1rem;
    margin: 1em; }
  .social {
    object-fit: scale-down;
    margin-left: 3rem; }
  /* arreglos banca digital */
  /* ccs Banca */
  .redondelBa,
  .redondelBa2 {
    padding: 1rem; }
  /* * formulario */
  .formimagen {
    display: none; }
  .formularioTitulo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .formulario {
    display: flex;
    margin-left: 10rem;
    margin-right: 15rem; } }

* {
  margin: 0;
  padding: 0; }
  * html {
    font-size: 95%;
    font-family: helvetica; }
  * body {
    background-color: #f6f5f5; }
