* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 90%;
}

body {
  font-family: helvetica;
  background: #f6f5f5;
}

/* CCS General */
.barrera {
  background: #a3e4db;
  padding: 20px;
  border-radius: 20px 10px 50px 30px;
  -webkit-border-radius: 20px 10px 50px 30px;
  -moz-border-radius: 20px 10px 50px 30px;
  -ms-border-radius: 20px 10px 50px 30px;
  -o-border-radius: 20px 10px 50px 30px;
  border: 2px #30475e solid;
  position: sticky;
  top: 0;
  width: 95%;
  grid-area: header;
}

.logo {
  margin: 0px;
  font-size: large;
  display: inline-block;
}

.triangulo {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 20px;
}
nav {
  display: inline-block;
  margin-left: 100px;
}

li {
  display: inline-block;
  width: 180px;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

a:hover {
  color: #30475e;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  -moz-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  -ms-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  -o-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}

.circulo {
  background: #a3e4db;
  padding: 10px;
  border-radius: 20px 10px 25px 30px;
  -webkit-border-radius: 20px 10px 25px 30px;
  -moz-border-radius: 20px 10px 25px 30px;
  -ms-border-radius: 20px 10px 25px 30px;
  -o-border-radius: 20px 10px 25px 30px;
  border: 2px #30475e solid;
  width: 97%;
  grid-area: footer;
}

.logofooter {
  margin: -30px 0px 0px 0px;
  display: block;
  z-index: auto;
  position: relative;
  right: -1200px;
  max-width: 4rem;
  max-width: 4rem;
}

/* css Index */
.angulo {
  padding: 1em;
}
.redondel {
  display: inline-block;
  padding: 4rem;
  flex-direction: column;
  grid-area: parrafo1;
}
.redondel2 {
  margin: auto;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  grid-area: parrafo2;
}

.imgindex1 {
  margin: auto;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  max-width: 40rem;
  grid-area: imgindex1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imgindex2 {
  margin: auto;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
  grid-area: imgindex2;
}
.mision {
  background-color: #a2b5bb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border: 2px #30475e solid;
  margin: 2em;
  grid-area: mision;
}
/* ccs Banca */
.redondelBa {
  display: inline-block;
  padding: 4rem;
  flex-direction: column;
  grid-area: pbanca1;
}
.redondelBa2 {
  margin: auto;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  grid-area: pbanca2;
}
.tarjetero {
  margin: auto;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
  grid-area: imgbanca1;
}

.celular {
  margin: auto;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
  grid-area: imgbanca2;
}

.angulo2 {
  grid-area: titulof;
}
.imgBusca {
  margin: auto;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  max-width: 30rem;
  grid-area: imgbusca;
}
/* CSS solo para academy */

/* Grid Academy */
.contenedorAcademy {
  display: grid;
  grid-template-areas:
    "header header header header"
    "titacademy titacademy titacademy titacademy"
    "curso1 curso1 texto1 texto1"
    "curso2 curso2 texto2 texto2"
    "curso3 curso3 texto3 texto3"
    "footer footer footer footer";
}

.tituloAcademy {
  display: fex;
  margin: 50px 20px;
  grid-area: titacademy;
}

.agudo {
  display: flex;
  align-items: center;
  margin: 20px;
  grid-area: curso1;
}

.img1 {
  margin-left: 50px;
  border: #30475e 1px solid;
  max-width: 7rem;
}

.parrafo1 {
  display: flex;
  margin: 50px;
  margin-left: 0;
  grid-area: texto1;
}

.recto {
  display: flex;
  align-items: center;
  margin: 20px;
  grid-area: curso2;
}

.img2 {
  margin-left: 50px;
  border: #30475e 1px solid;
  max-width: 7rem;
}

.parrafo2 {
  display: flex;
  margin: 50px;
  margin-left: 0;
  grid-area: texto2;
}

.obtuso {
  display: flex;
  align-items: center;
  margin: 20px;
  grid-area: curso3;
}

.img3 {
  margin-left: 50px;
  border: #30475e 1px solid;
  max-width: 7rem;
}

.parrafo3 {
  display: flex;
  margin: 50px;
  margin-left: 0;
  grid-area: texto3;
}

/* formulario */
/* grid Contacto */
.contenedorContacto {
  display: grid;
  grid-template-areas:
    "header header header header"
    "titulof titulof titulof titulof"
    "formulario formulario imgcont imgcont"
    "footer footer footer footer";
}
/* grid Contacto cierre */

.formimagen {
  grid-area: imgcont;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  max-width: 20rem;
}

.formularioTitulo {
  margin-top: 10px;
  margin-left: 10px;
}
.formulario {
  display: inline-block;
  margin: 1rem;
  align-content: center;
  grid-area: formulario;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 75.5%;
  }
  /* ajuste header */
  .barrera {
    position: static;
    padding: 0.3rem;
  }
  a:hover {
    background: none;
  }
  .logo {
    font-size: small;
  }
  .logofooter {
    display: none;
  }
  .circulo {
    padding: 0.3rem;
  }

  .imgindex1 {
    padding: 0.5rem;
    object-fit: scale-down;
  }
  .imgindex2 {
    padding: 0.5rem;
    object-fit: scale-down;
  }
  .mision {
    padding: 0.5rem;
    margin: 1em;
  }
  /* arreglos banca digital */
  /* ccs Banca */
  .redondelBa {
    padding: 2rem;
  }
  .redondelBa2 {
    padding: 2rem;
  }
  .tarjetero {
    padding: 0.5rem;
    object-fit: scale-down;
  }

  .celular {
    padding: 0.5rem;
    object-fit: scale-down;
  }
  /* arreglos busca tu banco */
  .imgBusca {
    padding: 0.5rem;
    object-fit: scale-down;
  }
  /* Grid Academy */
  .contenedorAcademy {
    display: grid;
    grid-template-areas:
      "header"
      "titacademy"
      "curso1"
      "texto1"
      "curso2"
      "texto2"
      "curso3"
      "texto3"
      "footer";
  }
  .tituloAcademy {
    align-content: center;
    margin: auto;
    padding: 1rem;
  }

  .img1 {
    margin: auto;
    max-width: 14rem;
  }

  .parrafo1 {
    margin: 0;
  }

  .img2 {
    margin: auto;
    max-width: 14rem;
  }

  .parrafo2 {
    margin: 0;
  }

  .img3 {
    margin: auto;
    max-width: 14rem;
  }

  .parrafo3 {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  * formulario */
/* grid Contacto */
.contenedorContacto {
    display: grid;
    grid-template-areas:
      "header"
      "titulof"
      "formulario"
      "footer";
  }
  /* grid Contacto cierre */

  .formimagen {
    display: none;
    margin: 0%;
  }

  .formularioTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario {
    display: flex;
    margin-left: 10rem;
    margin-right: 5rem;
    justify-content: center;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1000px) {
  html {
    font-size: 80%;
  }
  /* ajuste header */
  .barrera {
    position: static;
    padding: 0.3rem;
  }
  a:hover {
    background: none;
  }
  .logo {
    font-size: small;
  }
  .logofooter {
    display: none;
  }
  .circulo {
    padding: 0.3rem;
  }

  .imgindex1 {
    padding: 1rem;
    object-fit: scale-down;
  }
  .imgindex2 {
    padding: 1rem;
    object-fit: scale-down;
  }
  .mision {
    padding: 1rem;
    margin: 1em;
  }
  /* arreglos banca digital */
  /* ccs Banca */
  .redondelBa {
    padding: 2rem;
  }
  .redondelBa2 {
    padding: 2rem;
  }
  .tarjetero {
    padding: 1rem;
    object-fit: scale-down;
  }

  .celular {
    padding: 1rem;
    object-fit: scale-down;
  }
  /* arreglos busca tu banco */
  .imgBusca {
    padding: 1rem;
    object-fit: scale-down;
  }
  /* Grid Academy */
  .contenedorAcademy {
    display: grid;
    grid-template-areas:
      "header header"
      "titacademy titacademy"
      "curso1 curso1"
      "texto1 texto1"
      "curso2 curso2"
      "texto2 texto2"
      "curso3 curso3"
      "texto3 texto3"
      "footer footer";
  }
  .tituloAcademy {
    align-content: center;
    margin: auto;
    padding: 1rem;
  }

  .img1 {
    margin: auto;
    max-width: 14rem;
  }

  .parrafo1 {
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .img2 {
    margin: auto;
    max-width: 14rem;
  }

  .parrafo2 {
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .img3 {
    margin: auto;
    max-width: 14rem;
  }

  .parrafo3 {
    margin: 0;
    margin-bottom: 1.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  /* * formulario */
  /* grid Contacto */
  .contenedorContacto {
    display: grid;
    grid-template-areas:
      "header header"
      "titulof titulof"
      "formulario formulario"
      "imgcont imgcont"
      "footer footer";
  }
  /* grid Contacto cierre */

  .formimagen {
    max-width: 30rem;
    margin: auto;
  }

  .formularioTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario {
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
  }
}

/* Animaciones */
.contenedorContacto {
  background: linear-gradient(to left top, #30475e, #a3e4db);
}

.contenedorAcademy {
  background: linear-gradient(to left top, #30475e, #a3e4db);
}

.boton {
  height: 40px;
  border-radius: 2px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to right top, #000, #3ab0ff);
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.boton1 {
  height: 40px;
  border-radius: 2px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translateY(3px);
}

.boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.boton:active {
  transform: translateY(3px);
}

.formu:focus {
  height: 30px;
}

.formu {
  border-radius: 4px;
  border: 1px solid #1f53c5;
}

@keyframes logofooter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.logofooter {
  animation-name: logofooter;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
