/* Animaciones */

.boton {
  height: 40px;
  border-radius: 2px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to right top, #000, #3ab0ff);
  font-size: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.boton1 {
  height: 40px;
  border-radius: 2px;
  border: none;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translateY(3px);
}

.boton {
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }

  &:active {
    transform: translateY(3px);
  }
}

.card {
  &:hover {
    box-shadow: 10px 10px 10px $color-shadow;
    transform: translateY(-1px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }
  a {
    &:hover {
      cursor: pointer;
      color: $color-linksclick;
      font-weight: bold;
    }
  }
}
.formu {
  border-radius: 4px;
  border: 1px solid $color-formu;
}

@keyframes logofooter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.logofooter {
  animation-name: logofooter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
