/* Animaciones */

.boton1 {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translateY(3px);
}

.boton {
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }

  &:active {
    transform: translateY(3px);
  }
}

.card {
  &:hover {
    box-shadow: 10px 10px 10px $color-shadow;
    transform: translateY(-1px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }
  a {
    &:hover {
      cursor: pointer;
      color: $color-linksclick;
      font-weight: bold;
    }
  }
}

@keyframes logofooter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.logofooter {
  animation-name: logofooter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
