/* css Index */
.angulo {
  padding: 0.5rem;
  color: $color-titulos;
  font-size: 3.5rem;
  font-weight: bold;
}
.redondel {
  @include parrafos;
  a {
    color: $color-links;
    text-decoration: none;
  }
  h2 {
    color: $color-titulos;
    font-weight: bold;
  }
  p {
    color: $color-parrafos;
  }
}

.redondel2 {
  @include parrafos;
  a {
    color: $color-links;
    text-decoration: none;
  }
  p {
    color: $color-parrafos;
  }
}

.imagen {
  padding: 1rem;
  max-width: 40rem;
  @extend %centralizador1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mision {
  background-color: $color-secciones;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border: 2px $color-bordes solid;
  margin: 2em;
  h3 {
    @extend %centralizador1;
    @include titulos(30px, center, none);
    font-weight: bold;
    text-decoration: underline;
  }
  h4 {
    @extend %centralizador2;
    @include titulos(25px, left, 1rem);
    text-decoration: underline;
    font-weight: bold;
  }
  p {
    @include mision;
    color: $color-parrafos;
  }
}

/* ccs Banca */

.redondelBa,
.redondelBa2 {
  @include parrafos;
  h3 {
    color: $color-titulos;
    font-weight: bolder;
  }
  a {
    text-decoration: none;
    color: $color-links;
  }
  p {
    color: $color-parrafos;
  }
}

/* CSS solo para academy */
.acade {
  .tituloAcademy {
    @include titulos(40px, center, none);
    color: $color-titulos;
    font-weight: bold;
    display: fex;
    margin: 1rem;
  }
  p {
    color: $color-parrafos;
    padding: 1rem;
    font-size: 1rem;
  }
}
/* cards academy*/
.card {
  display: flex;
  width: map-get($estilo, tamimg);
  margin-left: map-get($estilo, margin);
  margin-bottom: map-get($estilo, marginbottom);
  box-shadow: 5px 3px 3px $color-shadow;
  h5 {
    margin: 1px;
    padding: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-titcard;
  }
  p {
    color: $color-parrafos;
    padding: 1px;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: $color-links;
  }
}

/* cards busca tu banco*/
.cele {
  .titulobusca {
    @include titulos(45px, center, none);
    color: $color-titulos;
    font-weight: bold;
    display: fex;
    margin: 1rem;
  }
  p {
    @extend %centralizador3;
    @include parrafo2;
    font-size: 1rem;
  }
}
.contbanco {
  @extend %centralizador4;
  .banco {
    background: rgb(219, 226, 239);
    background: linear-gradient(
      45deg,
      rgba(219, 226, 239, 1) 25%,
      rgba(249, 247, 247, 1) 59%
    );
    @extend %centralizador5;
    max-width: map-get($estilo, tamimg);
    max-height: 70rem;
    object-fit: contain;
    box-shadow: 5px 3px 3px $color-shadow;
  }
  img {
    width: 100%;
    height: map-get($estilo, tamimg);
    object-fit: contain;
  }
  ul {
    margin: 1px;
    padding: 1px;
    list-style: none;
  }
  li {
    margin: 1px;
    padding: 1px;
    list-style: none;
  }
  summary {
    margin: 1px;
    padding: 1px;
    font-size: 1rem;
    font-weight: bold;
    color: $color-titcard;
  }
  p {
    padding: 1px;
  }
  a {
    text-decoration: none;
    color: $color-links;
  }
}
/* Contacto*/

.formimagen {
  @extend %centralizador2;
  max-width: 30rem;
}
.formucont {
  width: 100%;
  .formulario {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #c4d7e0;
    box-shadow: 15px 10px 10px $color-shadow;
    margin: 5rem;
    .formularioTitulo {
      @extend %centralizador1;
      color: $color-titulos;
      margin-top: 10px;
      margin-left: 10px;
      font-size: 50px;
    }
    .formu {
      @extend %centralizador1;
      width: 80%;
      border-radius: 4px;
      margin-top: 10px;
      padding: 1px;
      border: 1px solid $color-formu;
      cursor: pointer;
    }
    .desplegable {
      @extend %centralizador1;
      width: 80%;
      border-radius: 4px;
      margin-top: 10px;
      padding: 1px;
      border: 1px solid $color-formu;
      cursor: pointer;
    }
    .check {
      @extend %centralizador1;
      font-size: large;
      width: 80%;
      margin-top: 10px;
      padding: 1px;
    }

    .boton {
      @extend %centralizador1;
      width: 60%;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      height: 50px;
      border-radius: 2px;
      border: none;
      color: hwb(0 100% 0%);
      padding: 10px;
      text-transform: uppercase;
      background: linear-gradient(to right top, #100f0f, #3f72af);
      font-size: 15px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
  }
}
