/* css Index */
.angulo {
  padding: 0.5rem;
  color: $color-titulos;
  font-size: 3.5rem;
  font-weight: bold;
}
.redondel {
  @include parrafos;
  a {
    text-decoration: none;
  }
  h2 {
    color: $color-titulos;
    font-weight: bold;
  }
}

.redondel2 {
  @include parrafos;
}

.imagen {
  padding: 1rem;
  max-width: 40rem;
  @extend %centralizador1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mision {
  background-color: $color-secciones;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border: 2px $color-bordes solid;
  margin: 2em;
  h3 {
    @extend %centralizador1;
    @include titulos(30px, center, none);
    font-weight: bold;
    text-decoration: underline;
  }
  h4 {
    @extend %centralizador2;
    @include titulos(25px, left, 1rem);
    text-decoration: underline;
    font-weight: bold;
  }
  p {
    @include mision;
  }
}

/* ccs Banca */

.redondelBa,
.redondelBa2 {
  @include parrafos;
  h3 {
    color: $color-titulos;
    font-weight: bolder;
  }
  a {
    text-decoration: none;
  }
}

/* CSS solo para academy */

.tituloAcademy {
  @include titulos(40px, center, none);
  color: $color-titulos;
  font-weight: bold;
  display: fex;
  margin: 50px 20px;
}

.card {
  display: flexbox;
  width: 20rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

/* formulario */

.formimagen {
  justify-content: right;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  text-align: right;
  flex-direction: column;
  max-width: 25rem;
}

.formularioTitulo {
  color: $color-titulos;
  margin-top: 10px;
  margin-left: 10px;
}

.formulario {
  display: flex;
  margin: 1rem;
  align-content: center;
}

@media (min-device-width: 300px) and (max-device-width: 480px) {
  html {
    font-size: 75.5%;
  }

  .imagen {
    padding: 0.5rem;
    object-fit: scale-down;
  }

  .mision {
    padding: 0.5rem;
    margin: 1em;
  }

  .social {
    object-fit: scale-down;
    margin: auto;
    margin-left: 3rem;
  }

  /* arreglos banca digital */
  /* ccs Banca */

  .redondelBa,
  .redondelBa2 {
    padding: 0.5rem;
  }

  /* arreglos busca tu banco */

  .card {
    width: 20rem;
    margin-left: 6rem;
  }

  .formimagen {
    display: none;
  }

  .formularioTitulo {
    align-items: center;
    justify-content: center;
  }

  .formulario {
    margin-left: 3rem;
    margin-right: 10rem;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 900px) {
  html {
    font-size: 80%;
  }

  .imagen {
    padding: 1rem;
    object-fit: scale-down;
  }

  .mision {
    padding: 1rem;
    margin: 1em;
  }

  .social {
    object-fit: scale-down;
    margin-left: 3rem;
  }

  /* arreglos banca digital */
  /* ccs Banca */

  .redondelBa,
  .redondelBa2 {
    padding: 1rem;
  }

  /* * formulario */

  .formimagen {
    display: none;
  }

  .formularioTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formulario {
    display: flex;
    margin-left: 10rem;
    margin-right: 15rem;
  }
}
