@media (min-device-width: 300px) and (max-device-width: 480px) {
  html {
    font-size: 77%;
  }

  .imagen {
    padding: 0.5rem;
    max-width: 30rem;
    object-fit: scale-down;
  }

  .mision {
    padding: 0.5rem;
    margin: 1em;
  }

  .social {
    object-fit: scale-down;
    margin: auto;
    margin-left: 1rem;
    .social-links {
      width: 50px;
      height: 50px;
    }
  }

  /* arreglos banca digital */
  /* ccs Banca */

  .redondelBa,
  .redondelBa2 {
    padding: 0.5rem;
  }

  /* arreglos busca tu banco */
  .cele {
    margin: 0.25rem;
  }
  .cursos {
    .card {
      margin: auto;
      margin-bottom: 0.5rem;
    }
  }
  .contbanco {
    .banco {
      margin: 0.5rem;
    }
  }
  /* Contacto*/

  .formimagen {
    max-width: 30rem;
  }
  .formucont {
    width: 100%;
    .formulario {
      .formularioTitulo {
        font-size: 30px;
        margin: auto;
      }
      .formu {
        width: 90%;
      }
      .desplegable {
        width: 90%;
      }
      .check {
        font-size: 15px;
        width: 90%;
      }
      .boton {
        width: 60%;
        font-size: 15px;
      }
    }
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 900px) {
  html {
    font-size: 80%;
  }

  .imagen {
    padding: 1rem;
    object-fit: scale-down;
  }

  .mision {
    padding: 1rem;
    margin: 1em;
  }

  .social {
    object-fit: scale-down;
    margin: auto;
    margin-left: 1rem;
    .social-links {
      width: 55px;
      height: 55px;
    }
  }

  /* arreglos banca digital */
  /* ccs Banca */

  /* arreglos busca tu banco */

  .cursos {
    .card {
      margin: auto;
      margin-bottom: 0.5rem;
    }
  }

  .contbanco {
    .banco {
      margin: 1rem;
    }
  }
  .formimagen {
    max-width: 30rem;
    margin: auto;
    align-items: center;
  }
  .formucont {
    width: 100%;
    .formulario {
      .formularioTitulo {
        font-size: 30px;
        margin: auto;
      }
      .formu {
        width: 90%;
      }
      .desplegable {
        width: 90%;
      }
      .check {
        font-size: 15px;
        width: 90%;
      }

      .boton {
        width: 60%;
        font-size: 15px;
      }
    }
  }
}
